In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
#data import
newstdnt = pd.read_csv("C:/Users/PC/Python Coaching/my new stdnt.csv")

In [3]:
newstdnt.columns

Index(['Unnamed: 0', 'Hours Studied', 'Previous Scores',
       'Extracurricular Activities', 'Sleep Hours',
       'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [4]:
newstdnt.head(10)

,Unnamed: 0,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,0,7,99,1,9,1,91.0
1,1,4,82,0,4,2,65.0
2,2,8,51,1,7,2,45.0
3,3,5,52,1,5,2,36.0
4,4,7,75,0,8,5,66.0
5,5,3,78,0,9,6,61.0
6,6,7,73,1,5,6,63.0
7,7,8,45,1,4,6,42.0
8,8,5,77,0,8,2,61.0
9,9,4,89,0,4,0,69.0

In [5]:
# deleting the "Unnamed: 0" column
newstdnt.drop(columns =["Unnamed: 0"], inplace= True )

In [6]:
newstdnt.head(10)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
5,3,78,0,9,6,61.0
6,7,73,1,5,6,63.0
7,8,45,1,4,6,42.0
8,5,77,0,8,2,61.0
9,4,89,0,4,0,69.0

In [7]:
# using Performance index as the dependent variable y.
y = newstdnt ["Performance Index"]
X = newstdnt [['Hours Studied', 'Previous Scores', 'Extracurricular Activities','Sleep Hours', 'Sample Question Papers Practiced']]

In [8]:
#using the train_test_split 80%-20%, where my random state was 40.
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 40)

In [9]:
# display of the independent variables
X_train

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
4318,7,60,0,7,7
471,7,42,1,5,7
9656,9,71,1,9,5
8243,7,96,1,6,9
9984,6,45,1,6,2
...,...,...,...,...,...
7839,7,93,1,5,7
3603,1,53,0,8,0
5959,4,92,0,7,8
5426,8,74,1,6,5
7608,8,40,0,8,6

In [10]:
X_train.head(10)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
4318,7,60,0,7,7
471,7,42,1,5,7
9656,9,71,1,9,5
8243,7,96,1,6,9
9984,6,45,1,6,2
3612,6,47,1,4,6
3046,4,96,0,7,2
3617,2,97,0,4,4
9312,5,47,0,4,9
3114,8,85,1,6,8

In [11]:
#display of the dependent variable
y_train

4318    52.0
471     34.0
9656    69.0
8243    92.0
9984    34.0
        ...
7839    83.0
3603    24.0
5959    77.0
5426    71.0
7608    34.0
Name: Performance Index, Length: 8000, dtype: float64

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.svm import SVC, SVR
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import recall_score, f1_score, precision_score, accuracy_score, confusion_matrix
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

In [13]:
lin_reg = LinearRegression()

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 4318 to 7608
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     8000 non-null   int64
 1   Previous Scores                   8000 non-null   int64
 2   Extracurricular Activities        8000 non-null   int64
 3   Sleep Hours                       8000 non-null   int64
 4   Sample Question Papers Practiced  8000 non-null   int64
dtypes: int64(5)
memory usage: 375.0 KB

In [15]:
lr_model = lin_reg.fit(X_train,y_train)

In [16]:
ypredicted = lr_model.predict(X_test)

In [17]:
ypredicted

array([86.38079798, 31.17693506, 38.44782611, ..., 55.411802  ,
       77.79375433, 81.32623268])

In [18]:
#r2 score 
r2 = r2_score(ypredicted,y_test)

In [19]:
r2

0.9885968467978674

In [20]:
#mean absolute error
mae = mean_absolute_error(ypredicted,y_test)

In [21]:
mae

np.float64(1.5825495264001084)

In [22]:
#mean absolute percentage error
mape = mean_absolute_percentage_error(ypredicted,y_test)

In [23]:
mape

np.float64(0.03308263887330456)

In [24]:
#mean squared error
mse = mean_squared_error = (ypredicted,y_test)

In [25]:
mse

(array([86.38079798, 31.17693506, 38.44782611, ..., 55.411802  ,
        77.79375433, 81.32623268]),
 293     88.0
 1244    31.0
 7353    38.0
 5145    77.0
 1618    53.0
         ...
 5361    82.0
 7365    41.0
 1162    58.0
 9434    76.0
 4398    83.0
 Name: Performance Index, Length: 2000, dtype: float64)