In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

In [92]:
#data import
newstdnt = pd.read_csv("C:/Users/PC/Python Coaching/my new stdnt.csv")

In [93]:
newstdnt.head()

,Unnamed: 0,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,0,7,99,1,9,1,91.0
1,1,4,82,0,4,2,65.0
2,2,8,51,1,7,2,45.0
3,3,5,52,1,5,2,36.0
4,4,7,75,0,8,5,66.0

In [94]:
# deleting the "Unnamed: 0" column
newstdnt.drop(columns =["Unnamed: 0"], inplace= True )

In [95]:
newstdnt.head(10)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
5,3,78,0,9,6,61.0
6,7,73,1,5,6,63.0
7,8,45,1,4,6,42.0
8,5,77,0,8,2,61.0
9,4,89,0,4,0,69.0

In [97]:
# using Performance index as the dependent variable y.
y = newstdnt ["Performance Index"]
X = newstdnt [['Hours Studied', 'Previous Scores', 'Extracurricular Activities','Sleep Hours', 'Sample Question Papers Practiced']]

In [108]:
#using the train_test_split 80%-20%, where my random state was 40.
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 40)

In [109]:
# display of the independent variables
X_train

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
4318,7,60,0,7,7
471,7,42,1,5,7
9656,9,71,1,9,5
8243,7,96,1,6,9
9984,6,45,1,6,2
...,...,...,...,...,...
7839,7,93,1,5,7
3603,1,53,0,8,0
5959,4,92,0,7,8
5426,8,74,1,6,5
7608,8,40,0,8,6

In [110]:
#display of the dependent variable
y_train

4318    52.0
471     34.0
9656    69.0
8243    92.0
9984    34.0
        ...
7839    83.0
3603    24.0
5959    77.0
5426    71.0
7608    34.0
Name: Performance Index, Length: 8000, dtype: float64

RANDOM FOREST REGRESSOR

In [101]:
rfr = RandomForestRegressor()
rfr_model = rfr.fit(X_train,y_train)

ypredicted = rfr_model.predict(X_test)

#goodness of fit tests
r2 = r2_score(ypredicted,y_test) #R2 Score
mae = mean_absolute_error(ypredicted,y_test) #MAE
mse = mean_squared_error(ypredicted, y_test) #MSE
mape = mean_absolute_percentage_error(ypredicted, y_test) #MAPE

print(f"The r2 score of the model is {r2}")
print(f"the mae of the model is {mae}")
print(f"the mse of the model is {mse}")
print(f"the mape of the model is {mape}")

The r2 score of the model is 0.9849418985825752
the mae of the model is 1.848584744047619
the mse of the model is 5.382781064600458
the mape of the model is 0.03897129661189743

INTERPRETATION OF RANDOM FOREST REGRESSOR
The amount of variability in the independent variables being captutred by the dependent variable is 98% which suggests high value for the goodness of fit and accuracy of the model.

DECISION TREE REGRESSOR

In [118]:
dct = DecisionTreeRegressor()
dct_model = dct.fit(X_train,y_train)
ypredicted2 = dct_model.predict(X_test)

#metrics
r2 = r2_score(ypredicted2,y_test) #R2 SCORE


print(f"The r2 score is {r2}")

The r2 score is 0.9746106237513064

KNEIGHBORS NEAREST

In [120]:
knr = KNeighborsRegressor()
knr_model = knr.fit(X_train,y_train)
ypredicted = knr_model.predict(X_test)

r2 = r2_score(ypredicted,y_test) #r2 score 
print(f"The r2 score is {r2}")

The r2 score is 0.9828183601004528

SUPPORT VECTOR REGRESSOR

In [121]:
svr = SVR()
svr_model = svr.fit(X_train,y_train)
ypredicted = svr_model.predict(X_test)

#r2 score 
r2 = r2_score(ypredicted,y_test)
print(f"the r2 score is {r2}")

the r2 score is 0.9845948175700819